* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  width: 100%;
  height: auto;
  background-color: #fff;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Pro';
  src: local('ITCAvantGardePro'), url('./fonts/ITCAvantGardePro-Md.otf') format('opentype');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Pro';
  font-weight: 700;
  src: local('ITCAvantGardePro'), url('./fonts/ITCAvantGardePro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: normal;
  src: local('Avenir'), url('./fonts/Avenir.ttc') format('truetype');
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .item-01 {
      width: 100%;

      .background-image {
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    .item-02 {
      position: absolute;
      top: 248px;
      width: 100%;
      height: 100%;
    }
  }

  .component-title {
    padding: 0 24px;
    margin-bottom: 32px;

    .title-01 {
      margin-bottom: 16px;
      //Typo
      font-family: 'ITC Avant Garde Gothic Pro', sans-serif;
      color: #FFF;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }

    .subtitle-01 {
      display: none;
    }

    .button-01 {
      display: inline;
      font-family: 'Avenir';
      padding-bottom: 5px;
      border-bottom: 1px solid white;
      text-decoration: none;
      font-weight: 900;
      font-size: 12.8px;
      line-height: 17px;
      color: #FFFFFF;
    }
  }

  .productCard-01 {
    width: 148px;

    .productImage {
      width: 148px;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }

    .productTitle {
      width: 100%;
      height: 40px;
      margin-bottom: 4px;
      font-weight: 400;
      font-size: 12.8px;
      line-height: 20px;
      color: black;
    }

    .price {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 12.8px;
    }

    .subDescContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .colorButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          cursor: pointer;
        }

        :not(:last-child) {
          margin-right: 9px;
        }

        .color1, .color2, .color3, .color4 {
          width: 12px;
          height: 12px;
          border-radius: 50%;

          &.active {
            width: 8px;
            height: 8px;
          }


        }

        .isActive {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12px;
          height: 12px;
          border: 1px solid black;
          border-radius: 50%;
        }

        .color1 {
          background-color: #99C3CC;
        }

        .color2 {
          background-color: #CC9999;
        }

        .color3 {
          background-color: #CB99CC;
        }

        .color4 {
          background-color: #BCD9B2;
        }
      }
    }
  }

  .swiper-wrapper{
    margin-left: 24px;
  }

  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    width: 100%;

    .item-01 {
      width: 50%;

      .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .item-02 {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      width: 50%;
      padding: 96px 0;
      background-color: #FFF;
    }
  }

  .component-title {
    padding: 0 120px;
    margin-bottom: 68px;

    .title-01 {
      margin-bottom: 12px;
      //Typo
      font-family: 'ITC Avant Garde Gothic Pro', sans-serif;
      color: #000;
      font-weight: 700;
      font-size: 31.25px;
      line-height: 41px;
    }

    .subtitle-01 {
      margin-bottom: 32px;
      //Typo
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #666666;
    }

    .button-01 {
      width: 146px;
      display: inline;
      cursor: pointer;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
      color: #000;
      //Typo
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 12.8px;
      line-height: 17px;
      text-transform: capitalize;

    }
  }

  .productCard-01 {
    width: 230px;

    .productImage {
      width: 230px;
      height: 310px;
      margin-bottom: 12px;
    }

    .productTitle {
      width: 100%;
      font-family: 'Avenir';
      margin-bottom: 4px;
      font-weight: 400;
      font-size: 12.8px;
      line-height: 20px;
      /* or 20px */
    }

    .price {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 12.8px;
    }

    .subDescContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .colorButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          cursor: pointer;
        }

        :not(:last-child) {
          margin-right: 9px;
        }

        .color1, .color2, .color3, .color4 {
          width: 12px;
          height: 12px;
          border-radius: 50%;

          &.active {
            width: 8px;
            height: 8px;
          }


        }

        .isActive {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12px;
          height: 12px;
          border: 1px solid black;
          border-radius: 50%;
        }

        .color1 {
          background-color: #99C3CC;
        }

        .color2 {
          background-color: #CC9999;
        }

        .color3 {
          background-color: #CB99CC;
        }

        .color4 {
          background-color: #BCD9B2;
        }
      }
    }
  }

  .productCardContainer {
    display: flex;
    padding-left: 120px;

  }

  .swiper-button-next {
    top: 135px !important;
    right: 64.5px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:after {
      width: 16px;
      height: 16px;
      background-image: url("../public/arrowNext.svg");
    }
  }
  .swiper-button-prev {
    top: 135px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:after {
      width: 16px;
      height: 16px;
      background-image: url("../public/arrowNext.svg");
      transform: rotate(0.5turn);
    }
  }
  .swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
    color: #000 !important;
    background-position: center center;
    background-size: 16px;
    background-repeat: no-repeat;


  }
}
